@model GSM_Operator_Project.Models.Musteri

<form asp-controller="Account" asp-action="SignUp" method="post" onsubmit="return validateForm()">
    <div class="form-signin w-25 m-auto align-self-auto">
        <h1 class="h3 mb-3 fw-normal">Kayıt Ol</h1>
        <div class="form-floating my-3">
            <input name="Ad" type="text" class="form-control" id="Ad" placeholder="Ad" required>
            <label for="Ad">Adınız</label>
        </div>
        <div class="form-floating my-3">
            <input name="Soyad" type="text" class="form-control" id="Soyad" placeholder="Soyad" required>
            <label for="Soyad">Soyadınız</label>
        </div>
        <div class="form-floating my-3">
            <input name="TC" type="text" class="form-control" id="TC" placeholder="TC kimlik Numarası" required>
            <label for="TC">TC kimlik Numarası</label>
            <span asp-validation-for="TC" class="text-danger"></span>
        </div>
        <div class="form-floating my-3">
            <input name="GSMno" type="tel" class="form-control" id="GSMno" placeholder="Telefon Numarası" required>
            <label for="GSMno">Telefon Numarası</label>
        </div>

        <div class="form-floating my-3">
            <input name="Email" type="text" class="form-control" id="Email" placeholder="Email">
            <label for="Email">E-Posta</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating my-3">
            <input name="SifreHash" type="password" class="form-control" id="SifreHash" placeholder="Parola" required>
            <label for="SifreHash">Parola</label>
        </div>
        <div class="form-floating my-3">
            <input name="SifreHashTekrar" type="password" class="form-control" id="SifreHashTekrar" placeholder="Parola Tekrar" required>
            <label for="SifreHashTekrar">Parola Tekrar</label>
        </div>
        <div id="passwordMismatch" class="text-danger mb-3" style="display: none;">Parolalar uyuşmuyor.</div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <button class="btn btn-primary w-100 py-2" type="submit">Kayıt Ol</button>
    </div>
</form>

<script>
    function validateForm() {
        var passwordInput = document.getElementById('SifreHash');
        var passwordConfirmInput = document.getElementById('SifreHashTekrar');
        var passwordMismatchMsg = document.getElementById('passwordMismatch');

        if (passwordInput.value !== passwordConfirmInput.value) {
            passwordMismatchMsg.style.display = 'block';
            return false;
        } else {
            passwordMismatchMsg.style.display = 'none';
            return true;
        }
    }
</script>
